{% extends "layout.html" %}
{% block title %}GAME{% endblock %}
{% block content %}
    <h1 id="current_display">Current User: {{ username }}</h1>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


{% endblock %}