<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Olimpiadle - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css_file.css"/>
  </head>
  <body>

    <header>
      <h1>OLIMPIADLE</h1>
      <nav>
        <ul>
          <li><a href="/">Login Page</a></li>
          <!-- See Tables with Dropdown -->
          <li class="dropdown">
            <a href="/tables">See Tables</a>
            <div class="dropdown-content">
              {% for table in tables %}
                <a href="/tables/{{ table }}">{{ table }}</a>
              {% endfor %}
            </div>
          </li>
          <li><a href="/game">Play</a></li>
        </ul>
      </nav>
    </header>

    <!-- Debug: Print tables to ensure they are fetched correctly -->
    <p>Available Tables: {{ tables }}</p>

    {% block content %}{% endblock %}

  </body>
</html>
