{% extends "layout.html" %}
{% block title %}TABLES{% endblock %}
{% block content %}


    <div class="flash_wrapper">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="flash {{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <h2>Tables in Database</h2>
    <ul class="tables-table-list">
        {% for table in tables %}
            <li><a href="/tables/{{ table }}">{{ table }}</a></li>
        {% endfor %}
    </ul>        
    

{% endblock %}
